<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="blagTest">
    <test name="testcase">
        <classes>
            <class name="testcase.post"/>
            <class name="testcase.Replies"/>
            <!--<class name="testcase.delete"/>-->
            <!--<class name="testcase.NewPost"/>-->
            <!--<class name="testcase.search"/>-->
            <!--<class name="testcase.vote"/>-->
        </classes>
    </test>
</suite>